html {
  font-family: 'Maven Pro', sans-serif;
}

#greyed {
  border-radius: 40px;
  background-color: #e8e8e8;
}

button{
  margin: 20px auto
}


body {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

table {
  margin: 10px auto;
}

td {
  min-width: 100px;
  text-align: center;
}

tr {
  height: 40px;
}

.first-letter {
  font-weight: bold;
}

.centered-top {
  margin: auto;
  text-align: center;
}

#logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
}

input {
  max-width: 50px;
}

footer {
  margin: 10px auto ;
}
