body {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

table {
  margin: 10px auto;
}

td {
  min-width: 100px;
  text-align: center;
}

tr {
  height: 40px;
}

.first-letter {
  font-weight: bold;
}

.centered-top {
  margin: auto;
  text-align: center;
}

input {
  max-width: 50px;
}

footer {
  margin: 80px auto;
}
